thing {
  min-width: 200px;
  min-height: 200px;
  border-radius: 32px;
  background-image: url("resource:///org/example/App/qr.png");
  background-size: 160px 160px;
  background-position: 20px 20px;
  background-repeat: no-repeat;
  color: black;
}

window {
  background: linear-gradient(to bottom, alpha(black, .3), transparent 100px), url("resource:///org/example/App/adwaita-l.jpg");
  color: white;
}
